.App {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-rows: 6rem 1fr;
}

header {
    background-color: #6C9A8B;
    display: grid;
    place-items: center;
}

main {
  grid-template-rows: 1fr 1fr;
  display: grid;
  grid-gap: 1rem;
  place-items: center;
}

button {
  width: 9rem;
  background-color: #6C9A8B;
  border: none;
  border-radius: 5px;
  color: #F8F1FF;
  height: 3rem;
  align-self: baseline;
}

section {
  background-color: #f7f5f9;
  padding: 5rem;
  border: 3px solid #c9c6cc;
  border-radius: 20px;
}

.thought-box .quote {
    font-style: italic;
} 

h1 {
    color: white;
    font-size: 1.75rem;
}